Debug
Release
.*.sw*
*.o
cubesolver
bin
*log
debian/substvars
debian/*substvars
debian/files
*~
*.bin
*.dat
tmp
arrayhelp/code1
arrayhelp/code2
arrayhelp/code3
arrayhelp/code4
arrayhelp/code5
tests/coredgtest
tests/arraytest
tests/centertest
